In [1]:
import pandas as p
column_names = ['RevisionId', 'ArticleName', 'Timestamp', 'Editor']
data = p.read_table('wiki_edit.txt',sep=' ',header=None,names=column_names)
data[:4]

   RevisionId ArticleName   Timestamp            Editor
0     9019643   Anarchism  2005-01-01  ip:24.136.172.37
1     9062018   Anarchism  2005-01-03   ip:137.53.22.23
2     9085524   Anarchism  2005-01-03   ip:24.42.90.254
3     9140836   Anarchism  2005-01-06  ip:69.61.184.201

In [2]:
uname = "morseal3"
pwd = "jNlNs2023"
hname = "mysql-user-cse.egr.msu.edu"

In [3]:
import mysql.connector
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "DROP TABLE IF EXISTS Wiki_Edit"
    cursor.execute(query)

    query = """CREATE TABLE IF NOT EXISTS Wiki_Edit (RevId int PRIMARY KEY,
                                ArticleName varchar(100),EditDate date,User varchar(50))
            """
    cursor.execute(query)
    cursor.close()
    cnx.close()
    cnx.commit()
except:
    print(mysql.connector.Error)

<class 'mysql.connector.errors.Error'>

In [4]:
def byUnicode(char):
    if ord(char) < 48 or ord(char) > 127: return ''
    else: return char

try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    
    for index, row in data.iterrows():
        rid = row['RevisionId']
        Article = filter(byUnicode, row['ArticleName'])
        EditDate = row['Timestamp']
        User = row['Editor']
        if index < 100:
            query = "INSERT INTO Wiki_Edit VALUES (" + str(rid) + ",'" 
            query += Article + "','" + EditDate + "','"+ User + "')"""
            cursor.execute(query)
        
    cnx.commit()
    cursor.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)

<class 'mysql.connector.errors.Error'>

In [6]:
try:
    cnx = mysql.connector.connect(user=uname, password=pwd, host=hname, database=uname)
    cursor = cnx.cursor()
    query = "SELECT * FROM Wiki_Edit"
    cursor.execute(query)
    
    for (rid, article, edate, user) in cursor:
        print (rid, article, edate, user) 

    cursor.close()
    cnx.close()
    
except:
    print(mysql.connector.Error)